
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.global_container{
  background-color: #b7bcb7;
  opacity: 0.6;
  height: 100vh;
  width: 90%;
  padding: 5px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #00f7ff; /* Very light grey */
    color: #000;
}

.orderbook{
  display: flex;
  width: 400px;
  height: 400px;
  border: 2px solid black;
  flex-direction: column;
}

.orderbook .orderbook-col{
  height: 100%;
}

.bot_telemetry {
  display: flex;
  width: 400px;
  height: 400px;
  border: 2px solid black;
  flex-direction: column;
  background-color: #b7bcb7;
  padding: 5px;
  overflow: auto;
}

.bot_telemetry #metric {
  width: 100%;
  height: 100%;
}

.graph{
  width: 100%;
  height: 80%;
  border: 2px solid black;
}
