[agent]
    interval = "5s"
    round_interval = true
    metric_batch_size = 1000
    metric_buffer_limit = 10000

[[inputs.statsd]]
    protocol = "udp"
    service_address = ":8125"

    delete_gauges = true
    delete_counters = true
    delete_timings = true

    percentiles = [50.0, 90.0, 95.0, 99.0, 99.9]
    metric_separator = "."

[[outputs.prometheus_client]]
    listen = ":9273"
    path = "/metrics"

